{% extends "base.twig" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-7 mb-4">
      <a href="{{ posts|first.link }}" class="jumbotron jumbotron-fluid dark-gradient-overlay d-block bg-inverse text-white align-text-bottom">
        <div class="container jumbotron-content px-5">
          <div class="row">
            <div class="col-md-6">
              <time datetime="{{ posts|first.date('Y-m-d') }}">{{ posts|first.date('j F Y') }}</time>
              <h2 class="my-4">{{ posts|first.title }}</h2>
              <span class="btn btn-primary btn-lg" role="button">Lire l'article →</span>
            </div>
          </div>
        </div>
        <img class="cover-image" src="{{ posts|first.thumbnail.src("cover") }}">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row news-flow">
        {% for post in posts|slice(1) %}
          <div class="col-sm-6 col-md-4 mb-4 mt-3">
            {% include 'components/news/news-teaser.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
