{% extends "base.twig" %}

{% block content %}
<section class="jumbotron jumbotron-fluid bg-inverse text-white">
  <div class="container jumbotron-content">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ title }}</h2>
        <p class="lead half-opacity">{{ page.content|striptags }}</p>
        <a class="btn btn-primary btn-lg" href="/presentation" role="button">
          En savoir plus
          <svg class="icon icon-right icon-arrow_right">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  {% if page.thumbnail.src %}
    <img class="cover-image" src="{{ page.thumbnail.src }}">
  {% else %}
    <img class="cover-image" src="{{ theme.link }}/build/images/home_cover.jpg">
  {% endif %}
</section>
<section class="bg-lightgray">
  <div class="container py-7">
    <div class="row">
      <div class="col-md-12">
        <h2>Les dernières news</h3>
      </div>
      <div class="col-md-12 text-right">
        <a href="{{ post_archive_url }}" class="btn btn-primary">
          Toutes les news
          <svg class="icon icon-right icon-arrow_right">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="row pt-5 d-flex flex-row">
      {% for post in posts %}
        <div class="col-md-4 mb-4 mb-md-0">
          {% include 'components/news/news-teaser-card.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container py-7">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-10">
            <h2 class="my-5">Ne manquez pas les prochaines prestations du Brass Band Fribourg! </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <div class="row mb-3">
              <div class="col-12">
                <div class="event-table my-md-4">
                  <div class="event-cell">
                    <h4 class="half-opacity mb-5">Ensemble A</h4>
                  </div>
                  {% for i in 0..1 %}
                    {% set event = events.a[i] %}
                    {% include 'components/event/event-teaser.twig' %}
                  {% endfor %}
                  <div class="event-cell">
                    <h4 class="half-opacity mb-5">Ensemble B</h4>
                  </div>
                  {% for i in 0..1 %}
                    {% set event = events.b[i] %}
                    {% include 'components/event/event-teaser.twig' %}
                  {% endfor %}
                </div>
              </div>
              </div>
            <div class="row">
              <div class="col-12">
                <a href="{{ event_archive_url }}" class="btn btn-primary">
                  Tous les évènements
                  <svg class="icon icon-right icon-arrow_right">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-none d-md-block">
        <img src="{{ theme.link }}/build/images/agenda_figure.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
{% endblock %}
