{% extends "base.twig" %}

{% block content %}
<div class="container pt-7 pb-4 mb-5">
  {% if page.thumbnail %}
    <div class="row">
        <div class="col-md-10 offset-md-1 pb-3">
          <img src="{{TimberImage(page.thumbnail).src("cover") }}" class="img-full pb-3" >
        </div>
    </div>
  {% endif %}
  {% if page.content %}
    <div class="row d-flex align-items-baseline">
      {% if page.has__sidebar %}
        <div class="col-md-6 offset-md-1 mb-4">
      {% else %}
        <div class="col-md-10 offset-md-1 mb-4">
      {% endif %}
        <h1 id="{{ page.slug }}" class="pt-4 mb-4">{{ title }}</h1>
        {{ page.content }}
      </div>
      {% if page.content_sidebar %}
        <div class="col-md-3 offset-md-1 mb-4">
          {{ page.content_sidebar|shortcodes }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% for section in page.children %}
    {% if section.post_type == "page" %}
      {% if section.thumbnail %}
        <div class="row">
            <div class="col-md-10 offset-md-1">
              <img src="{{TimberImage(section.thumbnail).src("cover") }}" class="img-full pb-3" >
            </div>
        </div>
      {% endif %}
      {% include 'components/section/section-page.twig' %}
      {% if not loop.last %}
        <hr class="pb-sm-8 pb-5 mt-sm-6 mt-4">
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
