{% if event %}
  <div class="event-teaser mb-4 {{ event_class }}">
    <time class="text-primary">{{ event.datetime_event_date|date('j F Y') }}{% if event.datetime_heure %} | {{ event.datetime_heure|date('H:i') }}{% endif %}</time>
    <h4 class="h3 my-3">{{ event.title }}</h4>
    <p class="infos">{{ event.informations }}</p>
    <hr class="d-md-none my-5">
  </div>
{% else %}
  <div></div>
{% endif %}

